{{#if showCommentForm }}
  <div class="comments">
    <h3>Comments</h3>
    <ol class="well bodyWell">
      {{#each post.comments as |comment|}}
        <li>{{comment.author}}: <span id="commentContent">{{comment.content}}</span><button id="deleteComment" {{action 'deleteComment' comment}}></button></li>
      {{/each}}

    </ol>
    <button class="btn btn-default" {{action 'hideComments'}}>Hide Comments</button>
  </div>

{{else}}
  <br>
  <button class="btn btn-default" id="adminButton3" {{action 'showComments'}}>Show Comments</button>
{{/if}}
