{{#if editPost}}
  <h1>Edit Post</h1>
  <form>
    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author" placeholder=post.author}}
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=title id="title" placeholder=post.title}}
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      {{input value=date id="date" placeholder=post.date}}
    </div>
    <div class="form-group">
      <label for="image">Image URL</label>
      {{input value=image id="image" placeholder=post.image}}
    </div>
    <div class="form-group">
      <label for="body">Body Content</label>
      {{textarea value=body id="body" placeholder=post.body}}
    </div>
    <button class="btn btn-default" {{action 'updatePost' post}}>Update Post</button>
  </form>
{{else}}
  <button class="btn btn-default" {{action 'editFormShow'}}>Edit Post</button>
{{/if}}
