<div class="well" id="postDisplay">
  {{#link-to 'post' post.id}}<h1><{{model.title}}</h1>{{/link-to}}
  <img id="displayImage" src="{{model.image}}">
  <div class="well" id="bodyWell">
    <h4>Posted on {{model.date}} by {{model.author}}</h4>
    <p>{{model.body}}</p>
  </div>
</div>

{{new-comment addComment="addComment" post=model}}

{{log model}}

<div class="comments">
  <h1>Comments</h1>
  {{#each model.comments as |comment|}}
    <h3>{{comment.author}}</h3>
    <p>{{comment.content}}</p>
  {{/each}}
</div>
